.about__section {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 94px;
  
  font-weight: 700;
  font-size: 22px;
  line-height: calc(36 / 22);


}

.about {
  display: flex;
  align-items: center;


  width: 450px;
}
