.contacts__logo {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

.contacts__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contacts__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.contacts__list {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
}

.contacts__link {
  color: var(--accent-text-color-two);

  &:hover,
  &:focus {
    color: var(--hv-fs-color);
  }
}

.contacts__img {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.cont__img {
  @media screen and (max-width: 1199px) {
    max-width: 450px;
  }
}
