.footer__container{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;

    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 1px solid #d17c37;
}

.footer__adress{
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.footer_list{
    gap: 10px;
}

.footer__link{
    color: var(--accent-text-color-two);
}