
.location__address {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 30px;
}

.location {
    display: flex;
    align-items: center;

    width: 450px;

  font-weight: 700;
  font-size: 22px;
  line-height: calc(36 / 22);

  
}
