:root {
  --main-font: Raleway, sans-serif;

  // text color
  --main-txt-color: #ebeced;
  --accent-text-color: #000000;
  --accent-text-color-two: #d17c37;

  // background color
  --main-bg-color: #393330;
  --accent-bg-color: #ffffff;

  --border-color: var(--border-color);
}
